<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Bus Stops</title>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script src="https://rawgit.com/guillaumepotier/Parsley.js/master/dist/parsley.js"></script>
  </head>
  <body>
    <div style="height: 100px;"></div>

    <%= yield %>

    <div style="height: 100px;"></div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRggdewSgsSVP1hchZaH5mjafqE3BkX5c"></script>
    <script src="javascript/index.js"></script>
  </body>
</html>
