<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Simple markers</title>
    <script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
    <script src="/javascript/index.js"></script>
    <script   src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRggdewSgsSVP1hchZaH5mjafqE3BkX5c">
    </script>
  </head>
  <body>
    <h1>MAP</h1>

    <%= yield %>
    <div class="pin-list">

    </div>

</body>
