<div class="map-container">
  <button class="toggle-all-stops">Show Stops w/ Clues</button>
  <div id="map" style='width:100%; height: 100%;'></div>

  <div class="map-content">
    <form method="post" style="margin-bottom: 0;" id="zip-search" data-parsley-validate="">
      <input type="text" name="zip-search" id="zip-search-input" placeholder=" Enter 5 digit zip code" data-parsley-type="number" data-parsley-maxlength="5" required="" data-parsley-errors-container="#errors-display">
      <button type="submit" name="zip-button" id="zip-search-button">Search by Zip</button>
      <div id="errors-display"></div>
    </form>
  </div>
</div>
