<div class="row">
  <div class="map-content">
    <form method="post" style="margin-bottom: 0;" id="zip-search" data-parsley-validate="">
      <input type="text" name="zip-search" id="zip-search-input" placeholder="Enter 5 digit zip code" data-parsley-type="number" data-parsley-maxlength="5" required="">
      <button type="submit" name="zip-button" id="zip-search-button">Search by Zip</button>
    </form>
  </div>
  <button class="toggle-all-stops">Show Stops w/ Clues</button>
    <div id="map" style='width:100%; height: 100%;'>
    </div>
  </div>
</div>

<script>

var visibleMarkers = []
var hiddenMarkers = []
var boston = { lat: 42.3601, lng: -71.0589 }

function setHeader(xhr) {
  xhr.setRequestHeader('Authorization', 'Token 2adc95279bbd2a6a69a5f08ddd2325562a262736');
}
$.ajax({
  url: "https://perkins-dev.raizlabs.xyz/agencies/1/stops?needs_more_clues=1",
  type: 'GET',
  crossDomain: true,
  success: function(data) {
    data.forEach(function(stop) {
      visibleMarkers.push(stop);
    });
    initMap();
  },
  beforeSend: setHeader
});

$.ajax({
  url: "https://perkins-dev.raizlabs.xyz/agencies/1/stops?needs_more_clues=0",
  type: 'GET',
  crossDomain: true,
  success: function(data) {
    console.log(data)
    data.forEach(function(stop) {
      var infoWindow = new google.maps.InfoWindow();
      var marker = new google.maps.Marker({
        position: stop["location"],
        title: stop["name"],
        visible: false,
        icon: 'https://s3.amazonaws.com/perkins-markers/img_bus_stop_has_clues.png?X-Amz-Date=20160711T202535Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=beadffb600b5b6e81954832e2b031b210b0403e45de981f848c7abe9471c660d&X-Amz-Credential=ASIAIJG4I2C7KPJ7VB6Q/20160711/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=FQoDYXdzEDMaDO2TtJgEuha8mhY9KiLHAehvWGqfhOEBcfviInDwktA6E4/7o88cUdXYNxtCwQwVoiI3NHZeCRNdstbZD6Svzp0HDmLdwhGLUCtOG1BPXeT3vklkggb54FO5xszGP4TzVtKWkQqtO/yq5C0ENAjzJAFsCfA00SrKKGQ57eWOSXa7U%2BAXZTnEuQDb29BQNmnHnrfUfZr4VrlJ0B7/J1JTF56NNt55NQ5UaBoxgKSQVeC8Hat7WwDDzeW2LJqy3Ml1Xz1EY/mH0EyayhtQf6LgAThKEw9tYO4o1rOPvAU%3D'
      });

      google.maps.event.addListener(marker, "click", (function(marker) {
        return function() {
          infoWindow.setContent(
            "<div>" +
            "<p><span style='font-weight:bold;'>Name: </span>" + stop["name"] + "</p>" +
            "</div>"
          );
          infoWindow.open(map, marker);
        }
      })(marker));
      hiddenMarkers.push(marker);
    });
  },
  beforeSend: setHeader
});


function initMap() {
  var mapElement = document.getElementById('map');
  var mapOptions = {
    zoom: 12,
    center: boston,
    styles: styles
  };
  var map = new google.maps.Map(mapElement, mapOptions);
  var centerControlDiv = document.createElement('div');
  var centerControl = new CenterControl(centerControlDiv, map);

  centerControlDiv.index = 1;
  map.controls[google.maps.ControlPosition.TOP_CENTER].push(centerControlDiv);

  for (var i = 0; i < visibleMarkers.length; i++) {
    var infoWindow = new google.maps.InfoWindow();
    var marker = new google.maps.Marker({
      position: visibleMarkers[i]["location"],
      title: visibleMarkers[i]["name"],
      map: map,
      icon: 'https://s3.amazonaws.com/perkins-markers/img_bus_stop_needs_clues.png?X-Amz-Date=20160711T202630Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=14b9a75a18c28a0e88ef096d3ddb5f8e3dad157eec8b1543f3be5f5ad736fa25&X-Amz-Credential=ASIAIJG4I2C7KPJ7VB6Q/20160711/us-east-1/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=FQoDYXdzEDMaDO2TtJgEuha8mhY9KiLHAehvWGqfhOEBcfviInDwktA6E4/7o88cUdXYNxtCwQwVoiI3NHZeCRNdstbZD6Svzp0HDmLdwhGLUCtOG1BPXeT3vklkggb54FO5xszGP4TzVtKWkQqtO/yq5C0ENAjzJAFsCfA00SrKKGQ57eWOSXa7U%2BAXZTnEuQDb29BQNmnHnrfUfZr4VrlJ0B7/J1JTF56NNt55NQ5UaBoxgKSQVeC8Hat7WwDDzeW2LJqy3Ml1Xz1EY/mH0EyayhtQf6LgAThKEw9tYO4o1rOPvAU%3D'
    });

    google.maps.event.addListener(marker, "click", (function(marker, i) {
      return function() {
        infoWindow.setContent(
          "<div>" +
            "<p><span style='font-weight:bold;'>Name: </span>" + visibleMarkers[i]["name"] + "</p>" +
          "</div>"
        );
        infoWindow.open(map, marker);
      }
    })(marker, i));
  }

  $('#zip-search').on('submit', function(e){
    e.preventDefault();
    var zipCode = $('#zip-search-input').val();

    var zipRequest = $.ajax({
      url: "https://maps.googleapis.com/maps/api/geocode/json?&address=" + zipCode + "",
      type: 'GET'
    });
    zipRequest.done(function(data){
      var point = data["results"][0]["geometry"]["location"];
      map.setCenter(point);
      map.setZoom(15);
    });
    $('#zip-search-input').val("");
  });

  $(".toggle-all-stops").click(function () {
    $(this).text(function(i, v){
      return v === 'Show Stops w/ Clues' ? 'Hide Stops w/ Clues' : 'Show Stops w/ Clues'
    });
    for (var i = 0; i < hiddenMarkers.length; i++) {
      if(hiddenMarkers[i].getVisible()) {
        hiddenMarkers[i].setVisible(false);
      } else {
        hiddenMarkers[i].setVisible(true);
        hiddenMarkers[i].setMap(map);
      };
    };
  });
}

function CenterControl(controlDiv, map) {
  var controlUI = document.createElement('div');
  controlUI.style.backgroundColor = '#fff';
  controlUI.style.border = '2px solid #fff';
  controlUI.style.borderRadius = '3px';
  controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
  controlUI.style.cursor = 'pointer';
  controlUI.style.marginTop = '12px';
  controlUI.style.textAlign = 'center';
  controlUI.title = 'Click to recenter the map';
  controlDiv.appendChild(controlUI);

  var controlText = document.createElement('div');
  controlText.style.color = 'rgb(25,25,25)';
  controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
  controlText.style.fontSize = '16px';
  controlText.style.lineHeight = '38px';
  controlText.style.paddingLeft = '5px';
  controlText.style.paddingRight = '5px';
  controlText.innerHTML = 'Center Map';
  controlUI.appendChild(controlText);
  controlUI.addEventListener('click', function() {
    map.setCenter(boston);
    map.setZoom(12);
  });
}

var styles = [
  {
    "featureType": "transit.station",
    "stylers": [
      { "visibility": "off" }
    ]
  },{
    "featureType": "poi.business",
    "stylers": [
      { "visibility": "off" }
    ]
  },{
    "featureType": "poi.place_of_worship",
    "stylers": [
      { "visibility": "off" }
    ]
  },{
    "featureType": "poi.school",
    "stylers": [
      { "visibility": "off" }
    ]
  },{
    "featureType": "poi.attraction",
    "stylers": [
      { "visibility": "off" }
    ]
  },{
    "featureType": "poi.government",
    "stylers": [
      { "visibility": "off" }
    ]
  },{
    "featureType": "poi.medical",
    "elementType": "labels",
    "stylers": [
      { "visibility": "off" }
    ]
  },{
    "featureType": "road.highway",
    "stylers": [
      { "color": "#63666A" },
      { "lightness": 53 },
      { "visibility": "simplified" }
    ]
  },{
    "featureType": "road.highway",
    "elementType": "labels",
    "stylers": [
      { "visibility": "off" },
      { "color": "#999999" }
    ]
  },{
    "featureType": "water",
    "stylers": [
      { "visibility": "on" },
      { "color": "#009CDE" },
      { "lightness": -15 }
    ]
  },{
  },{
  }
]
</script>
