<div class="row">
  <div class="map-content">
    <form method="post" style="margin-bottom: 0;" id="zip-search" data-parsley-validate="">
      <button type="submit" name="zip-button" id="zip-search-button">Search by Zip</button>
      <input type="text" name="zip-search" id="zip-search-input" placeholder="Enter 5 digit zip code" data-parsley-type="number" data-parsley-maxlength="5" required="">
    </form>
  </div>
  <button class="toggle-all-stops">View All Stops</button>
    <div id="map" style='width:100%; height: 100%;'>
    </div>
  </div>
</div>

<script>

var visibleMarkers = []
var hiddenMarkers = []
var boston = { lat: 42.3601, lng: -71.0589 }
var map;

function setHeader(xhr) {
  xhr.setRequestHeader('Authorization', 'Token 2adc95279bbd2a6a69a5f08ddd2325562a262736');
}
$.ajax({
  url: "https://perkins-dev.raizlabs.xyz/agencies/1/stops?needs_more_clues=1",
  type: 'GET',
  crossDomain: true,
  success: function(data) {
    data.forEach(function(stop) {
      visibleMarkers.push(stop);
    });
    initMap();
  },
  beforeSend: setHeader
});

$.ajax({
  url: "https://perkins-dev.raizlabs.xyz/agencies/1/stops?needs_more_clues=0",
  type: 'GET',
  crossDomain: true,
  success: function(data) {
    console.log(data)
    data.forEach(function(stop) {
      hiddenMarkers.push(stop);
    });
  },
  beforeSend: setHeader
});


function initMap() {
  var mapElement = document.getElementById('map');
  var mapOptions = {
    zoom: 12,
    center: boston
  };
  var map = new google.maps.Map(mapElement, mapOptions);
  var centerControlDiv = document.createElement('div');
  var centerControl = new CenterControl(centerControlDiv, map);

  centerControlDiv.index = 1;
  map.controls[google.maps.ControlPosition.TOP_CENTER].push(centerControlDiv);

  for (var i = 0; i < visibleMarkers.length; i++) {
    var infoWindow = new google.maps.InfoWindow();
    var marker = new google.maps.Marker({
      position: visibleMarkers[i]["location"],
      title: visibleMarkers[i]["name"],
      map: map,
      icon: 'https://maps.gstatic.com/intl/en_us/mapfiles/markers2/measle_blue.png'
    });

    google.maps.event.addListener(marker, "click", (function(marker, i) {
      return function() {
        infoWindow.setContent(
          "<div>" +
            "<p><span style='font-weight:bold;'>Name: </span>" + visibleMarkers[i]["name"] + "</p>" +
          "</div>"
        );
        infoWindow.open(map, marker);
      }
    })(marker, i));
  }

  for (var i = 0; i < hiddenMarkers.length; i++) {
    var infoWindow = new google.maps.InfoWindow();
    var marker = new google.maps.Marker({
      position: hiddenMarkers[i]["location"],
      title: hiddenMarkers[i]["name"],
      visible: false,
      map: map
    });
    // Doesn't quite work yet - needs refactor to push all markers after create
    // into an array that we can iterate and change visiblity to each. May want to
    // do this in the success of this query. TODO write function for iterating to create markers.
    
    array = []
    array.push(marker);
    google.maps.event.addListener(marker, "click", (function(marker, i) {
      return function() {
        infoWindow.setContent(
          "<div>" +
            "<p><span style='font-weight:bold;'>Name: </span>" + hiddenMarkers[i]["name"] + "</p>" +
          "</div>"
        );
        infoWindow.open(map, marker);
      }
    })(marker, i));
  }

  $('#zip-search').on('submit', function(e){
    e.preventDefault();
    var zipCode = $('#zip-search-input').val();

    var zipRequest = $.ajax({
      url: "https://maps.googleapis.com/maps/api/geocode/json?&address=" + zipCode + "",
      type: 'GET'
    });
    zipRequest.done(function(data){
      var point = data["results"][0]["geometry"]["location"];
      map.setCenter(point);
      map.setZoom(15);
    });
    $('#zip-search-input').val("");
  });

// this not working still
  function setVisiblityMarkers(markers) {
    for (var i = 0; i < markers.length; i++) {
      markers[i].setVisible(true);
    }
  }

  $(".toggle-all-stops").click(function () {
     $(this).text(function(i, v){
        return v === 'View All Stops' ? 'Needs Clues' : 'View All Stops'
     });
     setVisiblityMarkers(array);
   });
}

function CenterControl(controlDiv, map) {
  var controlUI = document.createElement('div');
  controlUI.style.backgroundColor = '#fff';
  controlUI.style.border = '2px solid #fff';
  controlUI.style.borderRadius = '3px';
  controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
  controlUI.style.cursor = 'pointer';
  controlUI.style.marginTop = '12px';
  controlUI.style.textAlign = 'center';
  controlUI.title = 'Click to recenter the map';
  controlDiv.appendChild(controlUI);

  var controlText = document.createElement('div');
  controlText.style.color = 'rgb(25,25,25)';
  controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
  controlText.style.fontSize = '16px';
  controlText.style.lineHeight = '38px';
  controlText.style.paddingLeft = '5px';
  controlText.style.paddingRight = '5px';
  controlText.innerHTML = 'Center Map';
  controlUI.appendChild(controlText);
  controlUI.addEventListener('click', function() {
    map.setCenter(boston);
    map.setZoom(12);
  });
}

</script>
