<div class="route-content">
  <div class="route-list-description">
    <p>
      Please select a route to find bus stops that need clues.
    </p>
  </div>
  <div class="route-selector-container">
    <select class="route-select" onchange="selectRoute(this.value)">
      <option value="">Choose Route</option>
    </select>
  </div>
</div>

<div class="stops-list-container">
  <div class='list-spinner'></div>
  <ul class="stops-list"></ul>
</div>

<script>
function setHeader(xhr) {
  xhr.setRequestHeader('Authorization', 'Token 2adc95279bbd2a6a69a5f08ddd2325562a262736');
}

function selectRoute(selected) {
  $(".stops-list").empty();
  $(".stops-list-container p").remove();
  $(".list-spinner").addClass("spinning")

  var request = $.ajax({
    url: "https://api.blindways.org/agencies/1/routes/" + selected + "/stops",
    type: 'GET',
    crossDomain: true,
    success: function(response) {
      $(".list-spinner").removeClass("spinning");
      if (response.length > 0) {
        $(".stops-list-container").prepend("<p>The following <span>" + response.length + "</span> stops on this route still need clues:</p>");

        for (var i = 0; i < response.length; i++) {
          $(".stops-list").append("<li>" + response[i]["name"] + "</li>");
        };
      } else {
        $(".stops-list-container").prepend("<p>Thank you to all our crowdsourcers this bus route doesn't have any bus stops that require clues!</p>");
      };
    },
    beforeSend: setHeader
  });
}

var request = $.ajax({
  url: "https://api.blindways.org/agencies/1/routes?include_details=0",
  type: 'GET',
  crossDomain: true,
  success: function(response) {
    for (var i = 0; i < response.length; i++) {
      $(".route-select").append("<option value=" + "\"" + response[i]["id"] + "\">" + response[i]["name"] + "</option>");
    };
  },
  beforeSend: setHeader
});
</script>
