<div class="route-content">
  <div class="route-list-description">
    <p>
      Mumblecore four dollar toast farm-to-table meggings roof party godard. Bushwick farm-to-table hashtag, yr meditation letterpress next level put a bird on it paleo celiac locavore. Bespoke chicharrones pop-up banjo, four loko ennui selfies thundercats.
    </p>
  </div>
  <div class="route-selecter-wrapper">
    <select class="route-select" onchange="selectRoute(this.value)">
      <option value="">Choose Route</option>
    </select>
  </div>
</div>

<div class="list-wrapper">
  <div class='spinner'></div>
  <ul class="stops-list"></ul>
</div>

<script>
function selectRoute(selected) {
  $(".stops-list").empty();
  $(".list-wrapper p").remove();
  $(".spinner").addClass("spinning")

  function setHeader(xhr) {
    xhr.setRequestHeader('Authorization', 'Token 2adc95279bbd2a6a69a5f08ddd2325562a262736');
  }
  var request = $.ajax({
    url: "https://perkins-dev.raizlabs.xyz/agencies/1/routes/" + selected + "/stops",
    type: 'GET',
    crossDomain: true,
    success: function(response) {
      $(".spinner").removeClass("spinning")
      if (response.length > 0) {
        $(".list-wrapper").prepend("<p>The following <span>" + response.length + "</span> stops still need clues on this route:</p>");

        for (var i = 0; i < response.length; i++) {
          $(".stops-list").append("<li>" + response[i]["name"] + "</li>");
        };
        console.log(response);
      } else {
        $(".list-wrapper").prepend("<p>Thank you to all our crowdsourcers this bus route doesn't have any bus stops that require clues!</p>");
      };
    },
    beforeSend: setHeader
  });
}

function setHeader(xhr) {
  xhr.setRequestHeader('Authorization', 'Token 2adc95279bbd2a6a69a5f08ddd2325562a262736');
}
var request = $.ajax({
  url: "https://perkins-dev.raizlabs.xyz/agencies/1/routes?include_details=0",
  type: 'GET',
  crossDomain: true,
  success: function(response) {
    for (var i = 0; i < response.length; i++) {
      $(".route-select").append("<option value=" + "\"" + response[i]["id"] + "\">" + response[i]["name"] + "</option>");
    };
  },
  beforeSend: setHeader
});
</script>
