<div class="route-content">
  <div class="route-list-description">
    <p>
      Please select a route to find bus stops that need clues.
    </p>
  </div>
  <div class="route-selector-container">
    <select class="route-select" onchange="selectRoute(this.value)">
      <option value="">Choose Route</option>
    </select>
  </div>
</div>

<div class="stops-list-container">
  <div class='list-spinner'></div>
  <ul class="stops-list"></ul>
</div>

<script>
var indoorStops = ["Harvard Lower Busway @ Red Line",
"Harvard Upper Busway @ Red Line",
"Alewife Station Busway",
"Kenmore Station Busway",
"Forest Hills Station Lower Busway",
"Forest Hills Station Upper Busway",
"Ruggles Sta - Upper Level",
"Andrew Station Busway",
"Wellington Station Busway",
"Columbia Rd @ JFK/UMASS Station",
"Fields Corner Station @ Red Line",
"Dorchester Ave @ Ashmont Busway",
"Burgin Pkwy @ Quincy Center Station",
"N Quincy Station @ Red Line"]

function setHeader(xhr) {
  xhr.setRequestHeader('Authorization', 'Token 54fdca8993c763119379479b02c87bda23683f1c');
}

function selectRoute(selected) {
  $(".stops-list").empty();
  $(".stops-list-container p").remove();
  $(".list-spinner").addClass("spinning")

  var request = $.ajax({
    url: "https://api.blindways.org/agencies/1/routes/" + selected + "/stops",
    type: 'GET',
    crossDomain: true,
    success: function(response) {
      var stopsList = []
      $(".list-spinner").removeClass("spinning");

      if (response.length > 0) {
        response.forEach(function(stop) {
          if (jQuery.inArray(stop["name"], indoorStops) < 0) {
            stopsList.push(stop);
            $(".stops-list").append("<li>" + stop["name"] + "</li>");
          };
        });
        $(".stops-list-container").prepend("<p>The following <span>" + stopsList.length + "</span> stops on this route still need clues:</p>");
      } else {
        $(".stops-list-container").prepend("<p>Thank you to all our crowdsourcers. This bus route doesn't have any bus stops that require clues!</p>");
      };
    },
    beforeSend: setHeader
  });
}

var request = $.ajax({
  url: "https://api.blindways.org/agencies/1/routes?include_details=0",
  type: 'GET',
  crossDomain: true,
  success: function(response) {
    response.forEach(function(stop){
      $(".route-select").append("<option value=" + "\"" + stop["id"] + "\">" + stop["name"] + "</option>");
    });
  },
  beforeSend: setHeader
});
</script>
