html, body {
  height: 85%;
  margin: 0;
  padding: 0;
}

.map-content {
  position: absolute;
  z-index: 5;
  bottom: 16px;
  left: 18px;
  width: 20%;
  background-color: rgba(186,175,172, 0.85);
  padding: 8px;
}

#zip-search-button, #zip-search-input {
  width: 100%;
  display: block;
  font-size: medium;
}

#zip-search-input {
  line-height: 25px;
}

#zip-search-button {
  margin-bottom: 10px;
  padding: 10px 0;
  border: none;
  background-color: #FF5C39;
  color: #FFFFFF;
}

.parsley-errors-list {
  list-style: none;
  border-left: 4px solid #E0004D;
  padding-left: 12px;
  font-family: sans-serif;
  color: #E0004D;
  margin: 10px 0 2px;
}

.row {
  position: relative;
}

/*styles: [
{
"featureType": "road.highway",
"elementType": "geometry",
"stylers": [
{ "color": "#63666A" },
{ "lightness": 34 },
{ "visibility": "simplified" }
]
},{
"featureType": "administrative",
"stylers": [
{ "visibility": "simplified" },
{ "color": "#63666A" }
]
},{
"featureType": "transit.line",
"stylers": [
{ "visibility": "on" },
{ "color": "#FFB81C" }
]
},{
"featureType": "landscape.man_made",
"stylers": [
{ "color": "#808080" },
{ "lightness": 77 }
]
},{
"featureType": "water",
"stylers": [
{ "color": "#009CDE" }
]
},{
"featureType": "road",
"elementType": "labels.text",
"stylers": [
{ "visibility": "on" }
]
},{
"featureType": "poi.school",
"elementType": "geometry",
"stylers": [
{ "weight": 0.1 },
{ "color": "#808080" },
{ "gamma": 2.19 }
]
},{
}
]
};*/
