html, body {
  height: 90%;
  margin: 0;
  padding: 0;
  font-family: "myriad-pro",arial,sans-serif;
}

/*Map Stlyes*/

.map-container {
  height: auto;
  width: auto;
  position: relative;
}

.form-container {
  display: none;
  position: absolute;
  z-index: 5;
  bottom:25px;
  left: 20px;
  width: 20%;
  background-color: rgba(186,175,172, 0.85);
  padding: 8px;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 2px 6px;
}

#zip-search-button, #zip-search-input {
  width: 100%;
  display: block;
  font-size: 16px;
}

#zip-search-input {
  line-height: 29px;
}

#zip-search-button {
  margin-top: 10px;
  padding: 10px 0;
  border: none;
  background-color: #ffb620;
  color: #222222;
  cursor: pointer;
}

.parsley-errors-list {
  list-style: none;
  border-left: 4px solid #E0004D;
  padding-left: 12px;
  font-family: sans-serif;
  color: #E0004D;
  margin: 10px 0 2px;
  font-size: 12px;
}

.toggle-all-stops {
  display: none;
  width: 17%;
  position: absolute;
  z-index: 5;
  right: 1%;
  top: 2%;
  border: none;
  background-color: #ffb620;
  padding: 10px 20px;
  color: #222222;
  font-size: 15px;
  box-shadow: rgba(0, 0, 0, 0.298039) 0px 2px 6px;
  cursor: pointer;
}

#zip-search-button:hover, .toggle-all-stops:hover {
  background-color: #e5ae3e;
  transition: background-color 300ms ease-out
}

/*Routes Styles*/

.route-content, .stops-list-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.stops-list-container p {
  font-size: 22px;
}

.stops-list-container p span {
  color: #813699;
  font-weight: bolder;
}

.route-selector-container {
  position: relative;
  height: 50px;
}

.route-selector-container .route-select {
  position: absolute;
  left: 35%;
  width: 30%;
  font-size: 20px;
  height: 35px;
  border: 1px solid #63656a;
  color: #ff5c39;
  background-color: #fff;
  box-sizing: content-box;
  border-radius: 0px !important;
}

.route-list-description p {
  font-size: 30px;
  text-align: center;
}

.stops-list {
  list-style: none;
  font-size: 24px;
  padding-left: 0px;
}

.stops-list li {
  line-height: 2;
}

.spinning {
  display: block;
}

.list-spinner {
  width: 40px;
  height: 40px;
	border-radius: 50%;
	background: transparent;
  position: absolute;
  left: calc(50% - 20px);
  display: none;

	border-top: 4px solid #fff;
	border-right: 4px solid #fff;
	border-bottom: 4px solid #813699;
	border-left: 4px solid #813699;

	-webkit-animation: loading 1.2s infinite linear;
	-moz-animation: loading 1.2s infinite linear;
	-ms-animation: loading 1.2s infinite linear;
	animation: loading 1.2s infinite linear;
}

@-webkit-keyframes loading {
  to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes loading {
	to { -moz-transform: rotate(360deg); }
}
@-ms-keyframes loading {
	to { -ms-transform: rotate(360deg); }
}
@keyframes loading {
	to { transform: rotate(360deg); }
}

/*Adjusts map content and routes for smaller screens*/
@media screen and (max-width: 830px) {
  .toggle-all-stops {
    width: 25%;
    font-size: 11px;
  }

  #zip-search-button, #zip-search-input {
    font-size: 11px;
  }

  .parsley-errors-list {
    font-size: 9px;
  }

  .form-container {
    width: 32%;
  }

  .stops-list {
    font-size: 13px;
  }

  .stops-list li {
    line-height: 4;
  }

  .route-selector-container .route-select {
    left: 15%;
    width: auto;
  }
}
